[Desktop Entry]
Name=KMyMoney BANKPARSER
Name[bs]=KMyMoney BANKPARSER
Name[ca]=KMyMoney BANKPARSER
Name[ca@valencia]=KMyMoney BANKPARSER
Name[cs]=KMyMoney BANKPARSER
Name[da]=KMyMoney BANKPARSER
Name[de]=KMyMoney BANKPARSER
Name[el]=KMyMoney BANKPARSER
Name[en_GB]=KMyMoney BANKPARSER
Name[es]=KMyMoney BANKPARSER
Name[et]=KMyMoney BANKPARSER
Name[eu]=KMyMoney BANKPARSER
Name[fi]=KMyMoney BANKPARSER
Name[fr]=BANKPARSER KMyMoney
Name[gl]=KMyMoney BANKPARSER
Name[hu]=KMyMoney BANKPARSER
Name[it]=KMyMoney BANKPARSER
Name[kk]=KMyMoney BANKPARSER
Name[mr]=के-माय-मनी ओएफएक्स
Name[nds]=KMyMoney-BANKPARSER
Name[nl]=KMyMoney BANKPARSER
Name[pl]=KMyMoney BANKPARSER
Name[pt]=BANKPARSER do KMyMoney
Name[pt_BR]=BANKPARSER do KMyMoney
Name[ro]=KMyMoney BANKPARSER
Name[ru]=Модуль BANKPARSER для KMyMoney
Name[sk]=KMyMoney BANKPARSER
Name[sv]=Kmymoney BANKPARSER
Name[tr]=KMyMoney BANKPARSER
Name[uk]=BANKPARSER KMyMoney
Name[x-test]=xxKMyMoney BANKPARSERxx
Name[zh_CN]=KMyMoney BANKPARSER
Name[zh_TW]=KMyMoney BANKPARSER
Comment=Add BANKPARSER importing to KMyMoney
Comment[bs]=Dodaj BANKPARSER uvoz za KMyMoney
Comment[ca]=Afegeix la importació BANKPARSER al KMyMoney
Comment[ca@valencia]=Afig la importació BANKPARSER al KMyMoney
Comment[da]=Føj BANKPARSER-import til KMyMoney
Comment[de]=Fügt BANKPARSER-Import zu KMyMoney hinzu
Comment[el]=Προσθήκη του εργαλείου εισαγωγής αρχείων BANKPARSER στο KMyMoney
Comment[en_GB]=Add BANKPARSER importing to KMyMoney
Comment[es]=Añade la importación de BANKPARSER a KMyMoney
Comment[et]=BANKPARSER import KMyMoneysse
Comment[eu]=Erantsi BANKPARSER-ren inportazioa KMyMoney-ri
Comment[fi]=Lisää BANKPARSER-tuonti KMyMoney-ohjelmaan
Comment[fr]=Ajoute l'importation « BANKPARSER » à KMyMoney
Comment[gl]=Engadir importación de BANKPARSER ao KMyMoney
Comment[hu]=BANKPARSER hozzáadása a KMyMoney-ba importáláshoz
Comment[it]=Aggiungi l'importazione BANKPARSER a KMyMoney
Comment[kk]=KMyMoney-ге BANKPARSER импорттауын қосу
Comment[nds]=BANKPARSER-Import för KMyMoney
Comment[nl]=Voeg BANKPARSER importeren toe aan KMyMoney
Comment[pl]=Dodaje importowanie BANKPARSER do KMyMoney
Comment[pt]=Adiciona a importação de BANKPARSER ao KMyMoney
Comment[pt_BR]=Adiciona a importação de BANKPARSER ao KMyMoney
Comment[ro]=Importă fișiere BANKPARSER în KMyMoney
Comment[ru]=Импорт из BANKPARSER в KMyMoney
Comment[sk]=Pridať BANKPARSER import do KMyMoney
Comment[sv]=Lägg till BANKPARSER-import till Kmymoney
Comment[tr]=KMyMoney'e BANKPARSER aktarımı ekle
Comment[uk]=Додає можливість імпортування BANKPARSER до KMyMoney
Comment[x-test]=xxAdd BANKPARSER importing to KMyMoneyxx
Comment[zh_TW]=匯入 BANKPARSER 檔到 KMyMoney
ServiceTypes=KMyMoneyPlugin
Type=Service
Icon=network-connect
X-KDE-Library=kmm_bankparser
X-KDE-PluginInfo-Name=KMyMoney BANKPARSER
X-KDE-PluginInfo-Author=Thorbjorn Larsson
X-KDE-PluginInfo-Email=larsson074@gmail.com
X-KDE-PluginInfo-Version=..
X-KDE-PluginInfo-Website=http://kmymoney.org/plugins.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
